
h1{
    text-align: center;
    border: 2px solid black;
    font-size: 50px;
}
h2{
    border: 1px solid black;
    position: sticky;
    top: 10px;
}
.custom_image {
    list-style-image: url('./1.jpg');
}